.section {
    display: flex;
    flex-direction: column;
}
h1 {
    margin: 1rem;
}
.editor {
    width: 90%;
    margin: 0 auto;
    margin-top: 0%;
}
.w-md-editor {
    margin-top: 0.2rem;
}
a.btn {
    margin: 1rem;
}